<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <img src="/assets/shapes.svg" alt=""/>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Welcome to Adobe Summit 2020 Lab 740</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        This is a basic Ionic app built to showcase how an external mobile/3rd party
        application can consume content from Adobe Experience Manager (AEM) pretty easily
        using AEM's OOTB Content Services Framework.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
